

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e8f1ff;
}

.logo {
    margin-left: 10px;
    height: 70px;
}

.travel {
    margin-right: auto;
}

nav {
    display: flex;
    gap: 0.6rem;
}

nav a {
    text-decoration: none;
    color: #3175d4;
    font-weight: bold;
}

.nav_icon {
    height: 20px;
    margin-left: 4rem;
}

.hamburger {
    display: none;
}

@media (max-width: 480px) {

    header {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin-bottom: 0.5rem;
        padding: 1rem 3rem 1rem 1rem;
    }

    .travel {
        margin: 0;
        display: none;
    }

    .nav_icon {
        display: none;
    }

    nav a{
        display: none;
    }

    nav {
        display: flex;
        gap: 0;
    }

    menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        margin-left: 60%;
        background-color: #e8f1ff;
    }

}