

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e8f1ff;
}

.logo {
    margin-left: 10px;
    height: 70px;
}

.travel {
    margin-right: auto;
}

nav {
    display: flex;
    gap: 0.6rem;
}

nav a {
    text-decoration: none;
    color: #3175d4;
    font-weight: bold;
}

.nav_icon {
    height: 20px;
    margin-left: 2.8rem;
}

.hamburger {
    display: none;
}


@media (max-width: 480px) {

    header {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin-bottom: 0.5rem;
        padding: 1rem 3rem 1rem 1rem;
    }

    .travel {
        margin: 0;
        display: none;
    }

    .nav_icon {
        display: none;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -260px;     
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 6rem 2rem;
        background: rgba(232, 241, 255, .95);
        backdrop-filter: blur(15px);
        transition: right .3s ease;
    }

    .menu.active {
        right: 0;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        border: none;
        background: none;
        color: #3175d4;
    }

}