
@import url(header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    background: url(../img/machupicchu4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    height: 100vh;
}

.hero_title {
    margin-top: 30%;
    margin-left: 4rem;
    color: rgb(247, 247, 245);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-shadow: 0 0 10px #0f0b01, 0 0 50px #050004;
    width: 70%;
}

.hero_content {
    margin-top: -10rem;
    margin-left: 4rem;
}

.hero_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #e8f1ff;
    padding: 1rem 2rem;
    gap: 2rem;
    color: #0952b8;
    margin-right: 4rem;
    margin-top: 5%;
}

form {
    margin-top: 3rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 2rem;
    margin-right: 4rem;
    margin-bottom: -11rem;
    z-index: 2;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 1);
    color: rgb(56, 54, 54);
    min-width: 20rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, select, textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 8px;
    height: 40px;
    border-radius: 5px;
    background: rgba(130, 127, 127, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: none;
}

.ticket {
    font-size: 1.5em;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

.icon {
    width: 30px;
}

.location {
    width: 17px;
}

.altitude {
    width: 20px;
}

.section2 {
    margin-left: 4rem;
    margin-top: -10%;
    display:flex;
}

.info {
    color: #2563eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
    color: black;
    font-size: 0.75em;
    padding-top: 4px;
}

.button {
    padding: 0.8em;
    background-color: #2563eb;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 40px;
    font-size: 0.9em;
    text-align: center;
}

.button:hover {
    background-color: #6591ef;
}

.price_box {
    margin-top: 45px;
    margin-bottom: 0px;
}

#total {
    font-size: 2rem;
}

.button_form {
    padding: 0.6em;
    background-color: #cbced4;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(9, 9, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    text-align: center;
    border: none;
}

.section2_title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #3d3c3c;
}

.finger_point {
    width: 40px;
    margin-right: 8px;
    margin-bottom: 50px;
}


    @media (max-width: 480px) {

    header {
        padding: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin-bottom: 0.5rem;
    }

    .travel {
        margin: 0;
        display: none;
    }

    .nav_icon {
        display: none;
    }

    nav a{
        display: none;
    }

    nav {
        display: flex;
        gap: 0;
    }

    .menu {
        display: flex;
        width: 20%;
        margin-left: 60%;
    }

    .hero_section {
        grid-template-columns: 1fr;
        height: auto;
        min-height: 100vh;
        background-position: top center;
        background-size: 400%;
    }

    .hero_title {
        margin: 1.2rem auto;
        width: 70%;
        text-align: center;
        font-size: 1.6rem;
    }

    form {
        margin-top: 1rem;
        padding: 2rem;
        margin-right: 0;
        margin-bottom: -11rem;
        border-radius: 0;
        box-shadow: none;
    }

    .hero_content {
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_card {
        flex-direction: column;
        text-align: center;
        margin-right: 0;
        width: 100vw;
        padding: 2rem 0;
    }

    .section2 {
        margin-left: 4rem;
        margin-top: 2rem;
        display:flex;
    }

    .text {
        width: 70%;
        display: inline-block;
        text-align: center;
    }

}